.card {
  width: max-content;
  padding: 8px;
  border-radius: @border-radius-md;
  background: @card-background;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: @box-shadow-base;
  transition: transform 0.2s ease-in;
  cursor: pointer;
  position: relative;

  &:hover {
    transform: scale(1.05);
  }

  &-image {
    height: 284px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: @border-radius-sm;
  }

  &-average-rating {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  p {
    margin: 0px;
    padding: 16px 0px 8px;
  }
}
